.item {
    list-style: none;
    margin-right: 1.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    color: black;
}

.item-box {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    width: 50rem;
    margin-right: 10rem;
    margin-left: 9.5rem;
}

.cover {
    height: 200px;
    width: 150px;
}

.title {
    width: 10rem;
}

.user {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.info_picture {
    height: 250px;
    width: 175px;
}
