.item {
    list-style: none;
    margin-right: 1.5rem;
    margin-left: 3rem;
    margin-top: 1.5rem;
    color: black;
}

.cover {
    height: 200px;
    width: 150px;
}

.title {
    width: 9rem;
    font-size: 1rem;
}

.info_picture {
    height: 250px;
    width: 175px;
}
